asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
aws-xray-sdk==0.95
beautifulsoup4==4.4.1
boto==2.40.0
boto3==1.7.84
botocore==1.10.84
cffi==1.11.5
click==6.6
cookies==2.2.1
cryptography==2.3.1
docker==3.5.0
docker-pycreds==0.3.0
docutils==0.12
ecdsa==0.13
future==0.16.0
futures==3.0.5
httpretty==0.8.10
idna==2.7
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsondiff==1.1.1
jsonpickle==1.0
MarkupSafe==0.23
mock==2.0.0
more-itertools==4.3.0
moto==1.3.6
pbr==4.2.0
pluggy==0.7.1
py==1.6.0
pyaml==17.12.1
pycparser==2.19
pycryptodome==3.6.6
pytest==3.8.1
python-dateutil==2.5.3
python-jose==2.0.2
pytz==2018.5
PyYAML==3.13
requests==2.10.0
responses==0.9.0
s3transfer==0.1.13
six==1.10.0
websocket-client==0.53.0
Werkzeug==0.11.10
wrapt==1.10.11
xmltodict==0.10.2
